@import 'src/app.scss';
.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    &__img{
        width: 70px;
        background-color: $grey-20;
        border-radius: 8px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &_name{
            font-size: 14px;
            color: $grey-100;

        }
    }
}